@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     position:relative;
}


body{
    background-color: #c2f5f8;
    font-family: 'Tajawal', sans-serif;
    padding: 60px 0 60px 0;
   
}

.pay-card{

    max-width: 40%;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
    direction: rtl;
    position:relative;

}

.pay-card .visa{
    margin: 5px;
    width: 180px;
}

.pay-card  h3{
    font-size: 18px;
    color: #9a9797;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: -1px;
}

.pay-card .visa .img-box{
    width: 100%;
    height: 112px;
    padding: 7px 24px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
}

.active{
    border: 4px solid rgb(109 228 254);
}

.pay-card .visa .img-box img{
    width: 100%;
    height: 100%;

}

.pay-card form .inner-form{

    padding: 20px;
    background-color: #f8f7f7ad;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 500;
    color: #909090;
}

.input{
    position: relative;
}

.input img{
    position: absolute;
    left: 8px;
    top: 10px;
    width: 16px;
}

.pay-card form label{
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
}


.pay-card form input{
    border: none;
    height: 38px;
    margin-bottom: 12px;
    background-color: white;
}

.pay-card .form-item{

}

.pay-card .form-item .form-item-input{
    width: 49%;
    float: right;
    margin:.5% ;
}

.clear{
    clear: both;
}

.pay-card button{
    width: 100%;
    background-color: #4184e79c;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 30px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

::placeholder{
    font-size: 15px;
    font-weight: 600;
    color: #414141;
}



[class*="loader-"] {
	display: inline-block;
	width: 1em;
	height: 1em;
	color: inherit;
	vertical-align: middle;
	pointer-events: none;
}

.loader-01 {
	border: .2em dotted currentcolor;
	border-radius: 50%;
	animation: 1s loader-01 linear infinite;
    color: white;
}

.load {
	animation: 2s load  linear infinite alternate;
}

[class*="loader-"] {
    font-size: 70px;
    line-height: 200px;
}

@keyframes loader-01 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes load {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

.box{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#b9f3f3, #0dcaf0 );
    padding: 20px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box h4{
    font-size: 34px;
    text-transform: capitalize;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}


.modal{
    direction: rtl;
}

.modal form{
    margin-bottom: 30px;
    padding: 15px;

}

.modal p{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.modal form input{
    height: 46px;
    border: none;
    background-color: aliceblue !important;
    margin-bottom: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

.modal form button{
    background-color: #4184e79c;
    color: white;
    padding:10px 50px;
    border-radius: 5px;
    margin-top: 30px;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border: none;
}

.modal form button:hover{
    background-color: #4184e79c !important;
}

.form-control:focus{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
    border: none;

}

.modal-header{
    border-bottom: none !important;
}






@media (min-width:871px) and (max-width:1070px){
    .pay-card{
        max-width:56%
    }
}

/* 
@media (min-width:571px )and( max-width:870px){
    .pay-card{
        max-width:76%
    }
} */



@media (max-width:870px){
    .pay-card{
        max-width:95%;
        padding:20px;
    }
    
    .pay-card .visa .img-box{
        height:70px !important;
    }
}
